@font-face {
    font-family: Pokemon;
    src: url(pkmn.ttf);
}

.titulo {
    text-align: center;
    text-decoration: underline;
    padding-top: 10px;
}

.info {
    text-align: center;
    padding-top: 12px;
}

.tipos {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    justify-self: center;
}

.pkid {
    text-align: center;
    font-size: 18px;
}

hr {
    border-style: dashed;
}

.pokemon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 256px;
    height: 256px;
}

body {
    background-color: rgb(66, 66, 66);
    font-family: Pokemon;
}

div.wrapper {
    background-color: rgb(146, 146, 146);
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
}